.add-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-back-btn {
    padding: 10px 40px;
    position: absolute;
    top: 40px;
    left: 60px;
    background-color: var(--bg_color);
    box-shadow: -3px -3px 8px var(--border1),
        3px 3px 5px var(--border2);
    border: none;
    border-radius: 4px;
    color: var(--primary_color);
    font-size: 15px;
    font-family: "Poppins";
    letter-spacing: 1px;
}

.a-back-btn:hover {
    box-shadow: inset -3px -3px 8px var(--border1),
        inset 3px 3px 5px var(--border2);
}

.add-box {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 80%;
    height: 700px;
    display: flex;
    gap: 20px;
}

.add-image {
    width: 500px;
    height: 500px;
    margin: 10px;
    margin-top: 50px;
    overflow: hidden;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.add-image-cont {
    width: 500px;
    height: 300px;
}

.add-image-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-image-input {
    width: 600px;
    display: flex;
    gap: 20px;
    padding-left: 10px;
}

.add-image-input #add-image-inp {
    outline: none;
    border: none;
    background-color: var(--search_color);
    font-family: "Poppins";
    padding-left: 5px;
    width: 385px;
    resize: none;
}

.add-logo-input {
    width: 600px;
    display: flex;
    gap: 30px;
    padding-left: 10px;
}

.add-logo-input #add-logo-inp {
    outline: none;
    border: none;
    background-color: var(--search_color);
    font-family: "Poppins";
    padding-left: 5px;
    width: 385px;
    resize: none;
}

.add-right {
    width: 50%;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.add-name {
    width: 320px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.add-name input {
    outline: none;
    border: none;
    background-color: var(--search_color);
    width: 200px;
    height: 25px;
    font-family: "Poppins";
    padding-left: 5px;
}

select{
    width: 208px;
    background-color: var(--search_color);
    padding-left: 5px;
    padding-bottom: 4px;
    font-family: "Poppins";
    color: var(--secondary_color);
    outline: none;
    cursor: pointer;
}
.add-price {
    width: 320px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.add-price input {
    outline: none;
    border: none;
    background-color: var(--search_color);
    width: 200px;
    height: 25px;
    font-family: "Poppins";
    padding-left: 5px;

}

.add-cat {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.add-cat input {
    outline: none;
    border: none;
    background-color: var(--search_color);
    width: 200px;
    height: 25px;
    font-family: "Poppins";
    padding-left: 5px;

}

.add-desc {
    width: 500px;
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.add-desc textarea {
    outline: none;
    border: none;
    background-color: var(--search_color);
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
    font-family: "Poppins";
}

.add-desc textarea::-webkit-scrollbar {
    width: 0px;
}

.add-submit-btn {
    width: 100px;
    margin-left: -200px;
}

.add-submit-btn .add-submit {
    padding: 10px 100px;
    border: none;
    background-color: var(--bg_color);
    box-shadow: -3px -3px 8px var(--border1),
        3px 3px 5px var(--border2);
    color: var(--primary_color);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins';
}

.add-submit-btn button:hover {
    box-shadow: inset -3px -3px 8px var(--border1),
        inset 3px 3px 6px var(--border2);
}

.add-submit-btn button:active {
    color: var(--secondary_color);
}