@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.a-mb-body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary_color);
}
.a-mb-box {
    height: 100%;
    display: flex;
    justify-content: space-around;
    
}
body::-webkit-scrollbar{
    display: none;
}
.a-mob-box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}
.a-mob-add-btn{
    margin: 20px;
    width:100px;
}
.mob-add{
    padding: 15px 30px;
    width: 150px;
    border:none;
    background-color: var(--body_bg);
    box-shadow: -3px -3px 7px var(--border1),
                3px 3px 5px var(--border2);
    color: var(--primary_color);
    font-family: "Poppins";
    font-size: 14px;
    transition: 1s ease;
    cursor: pointer;
}
.mob-add:hover{
    box-shadow: inset -3px -3px 7px var(--border1),
    inset 3px 3px 5px var(--border2);
}


/* card stars here */
.a-mb-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--body_bg);
    box-shadow: -3px -3px 8px var(--border1),
        3px 3px 12px var(--border2);
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}

.a-mb-image {
    width: 300px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
}

.a-mb-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.a-mb-image img:hover {
    transform: scale(1.1);
}

.a-mb-g-name {
    width: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}

.a-mb-g-price {
    width: auto;
    margin: 5px 10px;
    font-size: 18px;
}

.a-mb-g-category {
    width: auto;
    margin: 0 10px;
    font-weight: 500;
}

.a-mb-g-desc {
    text-align: left;
    width: auto;
    font-size: 13px;
    margin: 10px 10px;
}
.mb-e-d-btn{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a-mb-btn{
    width: 100px;
    padding: 10px 5px;
    background-color: var(--body_bg);
    box-shadow: -3px -3px 8px var(--border1),
    3px 3px 5px var(--border2);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    letter-spacing: 1px;
    cursor: pointer;
    color: var(--primary_color);
}
.a-mb-btn:hover{
    box-shadow:inset -3px -3px 8px var(--border1),
    inset 3px 3px 5px var(--border2);
}
.a-mb-btn:active{
    color: #48cae4;
}

/* @media (max-width:700px) {
    .card:nth-child(1) {
        margin-top: 80px;
    }

    .card:nth-child(2) {
        margin-top: 80px;
    }

    .card {
        width: 180px;
        height: 250px;
    }

    .card .image {
        width: 200px;
        height: 120px;
        overflow: hidden;
    }

    .g-name {
        margin: 0;
        font-size: 14px;
    }

    .g-price {
        margin: 5px 5px;
        font-size: 10px;
    }

    .g-category {
        margin: 0 5px;
        font-size: 12px;
    }

    .g-desc {
        margin: 0;
    }

    .w-c-btn {
        margin: 5px 8px;
        gap: 0;
        width: 40px;

    }

    .w-c-btn .addingBtn {
        font-size: 14px;
        margin: 0;
    }
} */