:root{
  --body_bg:#ecf0f3;
  --primary_color:black;
  --secondary_color:#6a6868;
  --border1:#ffffff;
  --border2:#ceced1;
  --search_color:white;
  --sun_color:black;
  --footer_color:#ecf0f3;
  --filtermenu_color:#ecf0f3ef;
}
[data-theme = "dark"]{
  --body_bg:#222;
  --primary_color:#ecf0f3;
  --secondary_color:#6a6868;
  --border1:rgba(255,255,255,.07);
  --border2:rgba(0,0,0,.5);
  --search_color:#b7b7b7;
  --sun_color:orange;
  --footer_color:#ecf0f3;
  --filtermenu_color:#222222cc;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::-webkit-scrollbar {
  width: 12px; 
}
body::-webkit-scrollbar-track {
  background: var(--body_bg);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--secondary_color);
}