body{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary_color);
}

.s-main-cont{
    height: 100%;
    position: relative;
}
.sg-container{
    /* position: absolute;
    top:0;
    left:0; */
    /* transform:translate(-50%,-50%); */
    width: 75%;
    height: 75vh;
    border-radius:25px;
    margin: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    /* background-color: var(--body_bg);
    box-shadow: -3px -3px 7px var(--border1),
                3px 3px 7px var(--border2); */
    display:flex;
    align-items: center;
    justify-content: space-around;
}
/* inside container starts here */
.sub-container{
    width:400px;
    height:600px;
    border-radius:10px;
    background-color: var(--body_bg);
    box-shadow: -3px -3px 7px var(--border1),
                 3px 3px 5px var(--border2);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}
.sg-heads{
    position: absolute;
    top:10px;
    font-size: 32px;
    

}
/* input field container starts here */
.sg-input-fields{
    margin-top: 50px;
    margin-bottom: 20px;
    width:200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sg-input{
    margin-bottom: 30px;
    position: relative;
}
.sg-input input{
    width: 210px;
    height: 40px;
    border-radius:50px;
    padding-left: 40px;
    border:none;
    outline: none;
    background-color: var(--body_bg);
    box-shadow: inset -3px -3px 7px var(--border1),
        inset 3px 3px 5px var(--border2);
    position: relative;
    font-family: 'Poppins';
    font-size: 16px;
    color:var(--secondary_color);
}
.sg-input input::placeholder{
    color:var(--secondary_color);
    font-size: 16px;
    padding-left: 3px;
    transition: 0.5s ease;
    font-family: 'Poppins';
}
.sg-input input:hover::placeholder{
    transform: translateX(10px);
}
.sg-input input:focus::placeholder{
    opacity: 0;
    transform: translateX(0);
}
.sign-input-icons{
      position: absolute;
      left: 15px;
      top: 8px;
      font-size: 20px;
      color: rgb(104, 104, 104);
}
.sg-input input:focus+.sign-input-icons{
    color: rgb(67, 125, 232);
}
.sg-input>p{
    text-align: left;
    font-size: 13px;
    margin: 0;
    height: 0;
    color: red;
}
.sg-signup-btn button{
    width: 250px;
    height: 40px;
    border-radius:50px;
    background-color: var(--body_bg);
    box-shadow: -3px -3px 8px var(--border1),
                3px 3px 5px var(--border2);
    border: none;
    font-size: 17px;
    color: var(--secondary_color);
    font-family: "Poppins";
    transition: 0.5s ease;
    cursor: pointer;
}
.sg-signup-btn button:hover{
    transform: scale(1.1);
}
.sg-signup-btn button:active{
    box-shadow: inset -3px -3px 7px var(--border1),
        inset 3px 3px 5px var(--border2);
}
/* social icons  */

.seperate-line{
    width:260px;
    height:1px;
    background-color: gray;
    position: relative;
    margin:20px 0;
}
.seperate-line::after{
    content: 'Sign in using';
    position: absolute;
    top:-12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: var(--body_bg);
    padding: 0 14px;
    font-size: 15px;
    color: _;
}
.social-icons{
    height:20px;
    width:300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.sg-footer-icons{
    width: 40px;
    height: 40px;
    background-color: var(--body_bg);
    border-radius: 50%;
    box-shadow: -3px -3px 7px var(--border1),
    3px 3px 5px var(--border2);
    font-size: 25px;
    color: rgb(104, 104, 104);
    /* padding: 6px; */
    align-content: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.sg-footer-icons:hover{
    box-shadow: inset -3px -3px 7px var(--border1),
    inset 3px 3px 5px var(--border2);
}
.sg-footer-icons:nth-child(1){
    color: #1d58ab;
}
.sg-footer-icons:nth-child(3){
    color: #48cae4;
}

/* login side container starts here */
.log-container{
    width: 400px;
    height: 500px;
    
}
.lg-heads{
    width: 500px;
    font-size: 22px;
    color: rgb(46, 109, 138);
}
.lg-in-icon{
    font-size: 130px;
    margin-right: 50px;
    color: var(--secondary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: 0.5s ease;
}
.log-in-icon2{
    transition: 0.5s ease;
}
.log-in-icon2:hover{
    transform:scale(1.1)
}
.link-to-login{
    font-size: 35px;
}
.link-to-login p{
    color: var(--secondary_color);
    transition: 0.5s ease;
}
.link-to-login :link{
    text-decoration: none;
}
.link-to-login p:hover {
    transform: scale(1.1);
    color: rgb(46, 109, 138);
}
@media (max-width:700px) {

    .sg-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100vw;
    }
    .sub-container{
        width: 350px;
        height: 600px;
        border-radius: 30px;
    }
    .sg-heads{
        font-size: 24px;
        margin-top: 10px;
    }
    .log-container{
        width: 98vw;
        height: 220px;
    }
    .lg-heads{
        width: 100%;
        font-size: 18px;
    }
    .lg-in-icon{
        font-size: 100px;
    }
    .link-to-login{
        font-size: 24px;
    }
    .link-to-login p{
        margin-top: 0;
        margin-bottom: 30px;
    }
}